# virtual env
.venv/
venv/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# jupyter
.ipynb_checkpoints/
*.ipynb

# git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# optional heavy folders
notebooks/

# logs
*.log